* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

/* Hero Image */
.hero-img {
  width: 450px;
  left: 68%;
  position: relative;
  z-index: 1;
  image-rendering: optimizeQuality;
  transition: width 0.3s ease;
}

/* Hero Content */
.hero-content {
  font-size: 15rem;
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 0;
  transition: font-size 0.3s ease;
}

/* Titles */
#title-1 {
  position: absolute;
  left: 240px;
  top: 150px;
  transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
}

#title-2 {
  position: absolute;
  top: 360px;
  left: 70px;
  transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
}

#title-3 {
  position: absolute;
  left: 810px;
  top: 635px;
}

/* Subtexts */
#subtext-1,
#subtext-2 {
  font-size: 15px;
  font-family: "Helvetica Neue", sans-serif;
  transition: font-size 0.3s ease;
}

#subtext-1 {
  position: absolute;
  left: 870px;
  top: 60px;
  transition: left 0.3s ease, top 0.3s ease;
}

#subtext-2 {
  position: absolute;
  line-height: normal;
  left: 800px;
  top: 540px;
  transition: left 0.3s ease, top 0.3s ease;
}

/*                                                                                      *\
                       SCREEN ADJUSTMENTS
\*                                                                                      */

/*Screen Adjustment For Small Phone Sizes with Width of 320px - Portrait*/

@media ((max-width: 330px) and (max-height: 580px)) {

  .hero-img {
    width: 96%;
    position: absolute;
    left: 0%;
    z-index: 0;
    top: 40%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 90%;
    font-size: 4rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 2px;
    top: 7%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 16%;
    left: 25%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 25%;
    left: 45%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 8px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 79%;
    top: 9%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 38%;
    left: 0%;
    transition: left 0.3s ease, top 0.3s ease;
  }
}

/*Screen Adjustment For Small Phone Sizes with Width of 320px - Landscape*/

@media ((max-width: 570px) and (max-height: 330px)) {
  .hero-img {
    width: 250px;
    position: absolute;
    left: 11px;
    top: 30%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 100%;
    font-size: 4rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 53%;
    top: 37%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 65%;
    left: 70%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 88%;
    left: 55%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 12px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 89%;
    top: 33%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 124%;
    left: 80%;
    transition: left 0.3s ease, top 0.3s ease;
  }
}

/*Screen Adjustment For Medium Phone Sizes with width of 375px - Portrait*/

@media ((max-width: 380px) and (max-height: 820px)) {

  .hero-img {
    width: 98vw;
    position: absolute;
    left: 11px;
    z-index: 0;
    top: 40%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 90%;
    font-size: 4rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 2px;
    top: 7%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 16%;
    left: 25%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 25%;
    left: 45%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 8px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 79%;
    top: 9%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 38%;
    left: 0%;
    transition: left 0.3s ease, top 0.3s ease;
  }
}

/*Screen Adjustment For Medium Phone Sizes with width of 375px - Landscape*/

@media ((max-width: 820px) and (max-height: 380px)) {
  .hero-img {
    width: 320px;
    position: absolute;
    top: 30%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 98%;
    height: 100%;
    font-size: 6rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 53%;
    top: 37%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 65%;
    left: 70%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 88%;
    left: 55%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 12px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 89%;
    top: 33%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 124%;
    left: 80%;
    transition: left 0.3s ease, top 0.3s ease;
  }
}

/*Screen Adjustment For Large Phone Sizes with width of 425px - Portrait*/

@media ((max-width: 430px) and (max-height: 930px)) {
  .hero-img {
    width: 98vw;
    position: absolute;
    left: 11px;
    z-index: 0;
    top: 40%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 90%;
    font-size: 4rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 2px;
    top: 7%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 16%;
    left: 25%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 25%;
    left: 45%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 8px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 79%;
    top: 9%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 38%;
    left: 0%;
    transition: left 0.3s ease, top 0.3s ease;
  }
}

/*Screen Adjustment for Large Phone Sizes with width of 425px - Landscape */

@media ((max-width: 930px) and (max-height: 430px)) {
  .hero-img {
    width: 320px;
    position: absolute;
    top: 30%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 98%;
    height: 100%;
    font-size: 6rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 3%;
    top: 37%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 65%;
    left: 20%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 88%;
    left: 35%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 12px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 49%;
    top: 43%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 114%;
    left: 2lvi;
    transition: left 0.3s ease, top 0.3s ease;
  }
}


/* Small Tablets and iPads (600px to 768px width) - Portrait*/
@media (min-width: 600px) and (max-width: 769px) and (min-height: 800px) and (max-height: 1025px) {
  .hero-img {
    width: 78vw;
    position: absolute;
    left: 11%;
    z-index: 0;
    top: 40%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 100%;
    font-size: 6rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 9%;
    top: 9%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 18%;
    left: 30%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 27%;
    left: 50%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 16px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 78%;
    top: 13%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 36%;
    left: 5%;
    transition: left 0.3s ease, top 0.3s ease;
  }

}

/* Small Tablets and iPads (600px to 768px width) - Landscape*/

@media (min-width: 800px) and (max-width: 1025px) and (min-height: 600px) and (max-height: 769px) {

  .hero-img {
    width: 40%;
    position: absolute;
    left: 0;
    top: 15%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 98%;
    height: 100%;
    font-size: 7rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 63%;
    top: 37%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 65%;
    left: 43%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 88%;
    left: 15%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 15px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 49%;
    top: 33%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 84%;
    left: 90%;
    transition: left 0.3s ease, top 0.3s ease;
  }

}


/*Medium Tablets (768px to 900px width) - Portrait*/
@media (min-width: 765px) and (max-width: 905px) and (min-height: 1025px) and (max-height: 1205px) {
  .hero-img {
    width: 78vw;
    position: absolute;
    left: 11%;
    z-index: 0;
    top: 40%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 100%;
    font-size: 6.5rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 9%;
    top: 9%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 18%;
    left: 30%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 27%;
    left: 50%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 16px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 78%;
    top: 13%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 36%;
    left: 5%;
    transition: left 0.3s ease, top 0.3s ease;
  }

}

/* Medium Tablets ( 768 to 900px width) - Landscape */

@media (min-width: 1025px) and (max-width: 1205px) and (min-height: 765px) and (max-height: 905px) {
 .hero-img {
    width: 40%;
    position: absolute;
    left: 0;
    top: 15%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 98%;
    height: 100%;
    font-size: 7rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 63%;
    top: 37%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 65%;
    left: 43%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 98%;
    left: 15%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 15px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 49%;
    top: 33%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 84%;
    left: 90%;
    transition: left 0.3s ease, top 0.3s ease;
  }

}


/* Large Tablets (900px to 1024px width) - Portrait */
@media (min-width: 899px) and (max-width: 1025px) and (min-height: 1205px) and (max-height: 1367px) {
  .hero-img {
    width: 78vw;
    position: absolute;
    left: 11%;
    z-index: 0;
    top: 40%;
    transition: width 0.3s ease;
  }
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero-content {
    width: 100vw;
    height: 100%;
    font-size: 6.5rem;
    transition: font-size 0.3s ease;
  }

  #title-1 {
    position: absolute;
    display: run-in;
    left: 9%;
    top: 9%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-2 {
    position: absolute;
    display: run-in;
    top: 18%;
    left: 30%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #title-3 {
    position: absolute;
    display: run-in;
    top: 27%;
    left: 50%;
    transition: left 0.3s ease, top 0.3s ease, font-size 0.3s ease;
  }

  #subtext-1,
  #subtext-2 {
    font-size: 16px;
    display: run-in;
    position: absolute;
    transition: font-size 0.3s ease;
  }

  #subtext-1 {
    left: 78%;
    top: 13%;
    transition: left 0.3s ease, top 0.3s ease;
  }

  #subtext-2 {
    top: 36%;
    left: 5%;
    transition: left 0.3s ease, top 0.3s ease;
  }

}


/*
 Large Tablets (More than 1024px width, e.g., iPad Pro) 
@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 800px) and (max-height: 1366px) {

}
*/
