#sub-title {
    font-size: 1rem;
    display: block;
    padding: 10px 40px;
    margin-top: 30px;
}
#page-title {
    display: block;
    font-size: 2rem;
    padding: 0 40px;
    font-weight: 600;
}

.products-section {
    padding: 3% 40px;
}